[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markupsafe = "*"
werkzeug = "*"
pipfile = "*"
python3-waitress = "*"

[dev-packages]

[requires]
python_version = "3.9"
